* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    color: white;
    background: #Ebf2f5;
}


body, input, button, textarea {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    
    font: 400 1.8rem/1 'Roboto', sans-serif;
}




